<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>도치</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>도치</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSCameraUsageDescription</key>
	<string>아바타가 사용자의 얼굴을 따라가기 위해 카메라 접근이 필요합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>음성 인식을 위해 마이크 접근이 필요합니다.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>미리알림을 생성하고 관리하기 위해 접근이 필요합니다.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>음성 명령을 텍스트로 변환하기 위해 음성 인식 권한이 필요합니다.</string>
</dict>
</plist>
